---
import Layout from '../layouts/Layout.astro'
import Cart from '../components/cart.astro'
import Menu from '../components/menu.astro'
import NavHome from '../components/navHome.astro'
import SearHome from '../components/SearHome.astro'
import SearchAside from '../components/searchAside.astro'
import Suscibete from '../components/suscribete.astro'
import Nuevo from '../components/nuevo.astro'
import Follow from '../components/follow.astro'
---

<Layout title="Home / X">
	<div class="app mx-auto">
		<header class="[grid-area:nav]">
			<Menu/>
		</header>

		<main class="[grid-area:main] relative border-r-[1px] border-gray-700">
			<NavHome/>
			<SearHome/>
			<Cart/>
			<Cart/>
		</main>

		<aside class="[grid-area:aside]  hidden md:block">
			<SearchAside/>
			<Suscibete/>
			<Nuevo/>
			<Follow/>
		</aside>
	</div>
</Layout>

<style>
	.app {
		display: grid;
		grid-template-areas: "nav main aside";
		grid-template-columns: 80px minmax(200px, 1fr);
		grid-template-rows: 100vh;
	}
	
	@media (width > 766px){
		.app {
			display: grid;
			grid-template-areas: "nav main aside";
			grid-template-columns: minmax(100px, 290px) 2fr 1fr;
		}
	}


	header,
	main,
	aside{
		overflow-y:scroll ;
		overflow-x: hidden;

		&::-webkit-scrollbar{
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb{
			background-color : rgb(17, 17, 17);
		}
	}

	main,
	aside{
		scrollbar-width: none;
	}


</style>
