---
import ContainerAside from "./containerAside.astro"
import NuevoFollow from '../components/nuevoFollow.astro'

---

<ContainerAside>
    <h3 class="font-bold text-xl mb-2 px-4">Who to follow</h3>
    <NuevoFollow/>
    <NuevoFollow/>
    <NuevoFollow/>
    <a href="#" class="block h-12 px-4 py-3 text-[#1d9bf0] mt-3 hover:bg-[#2d2e2e] transition-colors cursor-pointer overflow-hidden">Show More</a>
</ContainerAside>