---

---

<footer class="h-[25vh] px-10">
    <nav class="text-xs text-[#71767b] text-center">
        <ul class="flex justify-between py-2">
            <li class="cursor-pointer hover:text-white">Terms of Service</li>
            <li class="cursor-pointer hover:text-white">Privacy Policy</li>
            <li class="cursor-pointer hover:text-white">Cookie Policy</li>
        </ul>
        <ul class="flex justify-between py-2">
            <li class="cursor-pointer hover:text-white">Accessibility</li>
            <li class="cursor-pointer hover:text-white">Ads info</li>
            <li class="cursor-pointer hover:text-white">More...</li>
            <li>&copy; 2024 X Corp.</li>
        </ul>
    </nav>
</footer>