---
import ConfigHome from '../icons/configHome.twitter.astro'
---
<nav class="relative">
    <ul class="flex justify-between text-white border-b-[1px] backdrop-blur-sm border-[#71767b]">
        <li class=" w-1/2 h-14 flex justify-center items-center cursor-pointer transition-colors hover:bg-[#e7e9ea1a]">For you</li>
        <li class="w-1/2 h-14 flex justify-center items-center cursor-pointer transition-colors hover:bg-[#e7e9ea1a]">Following</li>
        <span class="w-14 h-14 flex justify-center items-center cursor-pointer"><ConfigHome class="text-white fill-current w-8 rounded-full p-1 hover:bg-stone-900 transition-colors"/></span> 
    </ul>
</nav>