
<div class="flex items-center text-white md:w-[80%] my-2 px-3.5 py-3 md:ml-8 rounded-[20px] h-14 cursor-pointer hover:bg-gray-800">
    <picture>
        <img 
        alt="Dev.vanegas" 
        src="https://pbs.twimg.com/profile_images/1672062860514451461/cXmQUNdU_normal.jpg"
        class="rounded-full mr-2.5 w-10"/>
    </picture>
    <div class="hidden md:block">
        <h2 class="font-bold text-sm">Dev.vanegas</h2>
        <span class="text-sm text-gray-500">@DavidsonV27</span>
    </div>
</div>
