---
import ProfilePuntos from '../icons/profilePuntos.astro'
---
<div class="md:flex items-center text-white md:w-[80%] my-2 px-3.5 py-3 md:ml-8 rounded-full h-14 cursor-pointer hover:bg-[#e7e9ea1a]">
    <picture>
        <img 
        alt="Dev.vanegas" 
        src="https://pbs.twimg.com/profile_images/1672062860514451461/cXmQUNdU_normal.jpg"
        class="rounded-full mr-2.5 w-10"/>
    </picture>
    <div class="hidden md:block">
        <h2 class="font-bold text-sm">Dev.vanegas</h2>
        <span class="text-sm text-gray-500">@DavidsonV27</span>
    </div>
    <span class="w-5 hidden md:block"><ProfilePuntos class="fill-current translate-x-7"/></span>
    
</div>
