---
import Search from '../icons/search.twitter.astro'
---

<nav class="relative h-14 py-2">
    <span class="flex gap-5 pl-5 py-2 mx-2 rounded-full bg-[#e7e9ea1a] text-[#71767b]"><Search class:list="fill-current text-[#71767b] w-5 "/> Search</span>
</nav>