---
import ContainerAside from "./containerAside.astro";
---

<ContainerAside>
    <h4 class="font-bold text-xl px-4">Subscribe to Premium</h4>
    <p class="font-sans py-2 text-[15px] px-4">Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
    <button class=" mx-4 mb-3 py-1.5 px-4 bg-[#1d9bf0] rounded-full font-bold">Subscribe</button>
</ContainerAside>